extends header.jade
block content
    label(for='category') Categorie
    input#category(type='text', name='clear' value=category)
    label(for='name') Nom pour url
    input#name(type='text', name='clear' value=name)
    button#savebutton Enregistrer
    button#updatebutton Update
    h1= category
    h1= name
    h1.centering.maintitle.textedit=title
    div.paragraphe_xlarge
        div.textedit!= text
    script.
        var articleid = "#{_id}"